    
    <%- include("../layout/adminheader.ejs") %>
    <%- include("../layout/bars.ejs") %>
    <style>
        .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #040404;
      width: 25px;
      height: 25px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
       </style>
    <main class="main-wrap">
        <header class="main-header navbar">
           
            <div class="col-nav col-11 ">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav position-relative">
                  
                    
                        <div style="margin-top: 41px"  class="dropdown-menu position-absolute top-100 translate-middle " >
                          
                            <a class="dropdown-item text-muted" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            
                        </div>            
    
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/items/13.avif" alt="User"></a>
                       
                        
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add a category</p>
                </div>
                <!-- <form >
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" name="search">
                        <input class="btn btn-primary" type="submit" value="search"> 
                    </div>
                   
                </form> -->
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form id="myForm" action="" method="post"  enctype="multipart/form-data" >
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input name="name" type="text" placeholder="Type here" class="form-control" id="product_name" required />
                                </div>
                               
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea name="description" type="text" placeholder="Type here" class="form-control" required></textarea>
                                </div>
                      
                                
                                    <div class="mb-4">
                                        <label class="form-label">Image</label>
                                        <input class="form-control" type="file" name="categorypic" required>
                                    </div>
        
        
                              
                                <div>
                                    <button type="submit"  id="addButton" class="btn btn-md rounded font-sm hover-up">
                                        <span id="buttonText">Add</span>
                                        <div id="spinner" class="loader" style="display: none;">
                                          <!-- Insert your spinner's HTML here -->
                                        </div>
                                      </button>
                                </div>
                            </form>
                        </div>
                    
                        <!-- <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th>No:</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            
                                               
                                                        <tr>
                                                            <td>1 </td>
                                                            <td>Roofing material</td>
                                                            <td>description</td>
                                                            <td><a href="" class="btn btn-primary">Edit</a>
                                                                <a href="#" data-id="" class="btn btn-primary delete-category-btn">Delete</a></td>

                                                                <script>
                                                                // Add click event listener to all delete category buttons
                                                                document.querySelectorAll('.delete-category-btn').forEach(button => {
                                                                  button.addEventListener('click', function(event) {
                                                                    event.preventDefault();
                                                                    const categoryID = this.getAttribute('data-id');
                                                                
                                                                    // Show SweetAlert confirmation dialog
                                                                    swal({
                                                                      title: "Are you sure?",
                                                                      text: "Once deleted, you will not be able to recover this category!",
                                                                      icon: "warning",
                                                                      buttons: true,
                                                                      dangerMode: true,
                                                                    })
                                                                    .then((willDelete) => {
                                                                      if (willDelete) {
                                                                        // If user confirms deletion, redirect to deleteCategory route with categoryID parameter
                                                                        window.location.href = `/admin/deletecategory?id=${categoryID}`;
                                                                      } else {
                                                                        // If user cancels deletion, do nothing
                                                                        return;
                                                                      }
                                                                    });
                                                                  });
                                                                });
                                                                </script>
                  
                                                        </tr>
                                                      
                                                

                                            
                                            
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
           
            <% if (error) {%>
                <h6 style="color:red">OOPS! Duplicate category name encountered</h6>

                <%}%>
        
  <% if (message) { %>
    <!-- Show LottieFiles animation when message is true -->
    <div class="modal" id="lottieModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
      <div class="modal-body">
        <div id="lottie-container-add"></div>
      </div>
      </div>
    </div>
   
  <% } %>
        </section>

    </main>
    <script>
        // Load LottieFiles animation
        $(document).ready(function () {
              const lottieModal = $('#lottieModal');
            const addanimationContainer = document.getElementById("lottie-container-add");
            const addanimation = bodymovin.loadAnimation({
              container: addanimationContainer,
              rendered:"svg",
              loop:false,
              autoplay:true,
              path:"/animations/Animation - 1706622572822.json",
           
            })
            addanimation.addEventListener("complete",function (){
              lottieModal.modal("hide")
            })
             lottieModal.modal("show")
          });
      </script>
      <script>
        document.getElementById('myForm').addEventListener('submit', function() {
            // Show the spinner and hide the button text
            document.getElementById('spinner').style.display = 'inline-block';
            document.getElementById('buttonText').style.display = 'none';
        });
    </script>
   
   
    <%- include("../layout/adminfooter.ejs") %>