
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img style="height:70px;"src="/assets/imgs/new-jersey-hand-drawn-lettering-text-us-state-name-isolated-white-background-modern-calligraphy-posters-cards-t-shirts-138304260-removebg-preview.png" class="logo" alt="New jersey Dashboard">
            </a>
          
        </div>
        
        <nav>
            <ul class="menu-aside">
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li> -->
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/addcategory"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Add categories</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/showcategory"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Category list </span>
                    </a>
                   
                </li>
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="/admin/showusers"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                  
                </li> -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/addproduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/showproduct"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Product list</span>
                    </a>
                    
                </li>
                <!-- <li class="menu-item ">
                    <a class="menu-link" href="/admin/couponload"> <i class="icon material-icons md-person"></i>
                        <span class="text">Coupons</span>
                    </a>
                  
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/ordersload"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Orders</span>
                    </a>
                </li> -->
                
            </ul>
            <br>
            <br>
        </nav>


        
    </aside>
    